<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financeiro</title>
</head>
<body>
    
    <header>
        <h1>Cadastro de contas a pagar</h1>
    </header>

    <main>

        <form action="/routes/post" autocomplete="off" method="POST">
            <label for="nome" >Nome</label>
            <input type="text" name="nome">

            <label for="serviço">valor</label>
            <input type="number" name="valor">
            
            <button type="submit">Enviar</button>
        </form>

    </main>


</body>
</html>